body {
	color: rgb(180, 11, 11);
}

.font-bold {
	font-weight: 700;
}

nav {
	background-color: rgb(180, 11, 11);
}

a.navbar-brand {
	font-family: 'Lobster';
}

.navbar-collapse {
	flex-grow: 0;
	align-items: right;
}

.clearfix {
	margin: 3.5em 0 0;
}

div.alert {
	position: absolute;
	margin-top: 0;
	width: 100%;
	border-radius: 0px;
}

.light-gray {
	background-color: #eee;
}

.lighter-gray {
	background-color: #f5f5f5;
}

.display-4 {
	font-size: 3.5em;
}

.display-5 {
	font-size: 2.5em;
	font-weight: 300;
}

.display-6 {
	font-size: 2em;
	font-weight: 300;
}

.display-7 {
	font-size: 1.3em;
}

.light {
	font-weight: 300;
	font-size: 18px;
}

.jumbotron {
	background-color: #fff;
	margin-bottom: 0;
}

div.container.container-smaller {
	width: 960px;
}

.fixed-top {
	height: 10px;
}

section {
	padding: 2em 0em;
}

section:first-of-type {
	padding-top: 2.5em;
}

section p {
	text-align: justify;
}

p.lead {
	font-size: 18px;
}

.btn-primary {
	padding: 7px 18px;
}

footer {
	background-color: rgb(180, 11, 11);
	padding: 1em 0 0;
	overflow: hidden;
}

ul.foot-col {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

ul.foot-col > li > a {
	color: #ccc;
}

ul.foot-col > li > a:hover {
	color: #fff;
	text-decoration: none;
}

ul.foot-col > li > a:active {
	text-decoration: underline;
}

footer div.copy-row {
	margin-top: 1em;
	height: 3em;
	line-height: 3em;
	background-color: rgb(180, 11, 11);
}

footer p.text-center {
	color: #999;
	margin-bottom: 0;
	font-size: 0.9em;
}

/***** index.html *****/
h1.home {
	padding-bottom: 0.25em;
	text-align: center;
}

div.search-div {
	width: 400px; /* Är inte helt centrerad */
	margin-left: auto;
	margin-right: None;
}

input.search-field  {
	width: 300px;
	padding: 5px;
}

div.jumbotron.home {
	background-image: url(/static/image/biostolar.jpg);
	background-size: cover;
	color: rgb(180, 11, 11);
}

div.jumbotron.home .container {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
	background: linear-gradient(90deg, rgba(250, 250, 250, 0.85), rgba(255, 255, 255, 0.85));
	padding: 3em 2em;
	border-radius: 5px;
}

.jumbotron > div.home p {
	max-width: 700px;
	margin: 1em auto;
	text-align: center;
	font-size: 1.5em;
}

p.bigger {
	font-size: 200%;
}

button.home {
	display: block;
	margin: 2em auto 0;
}

div.row.home {
	padding: 0.5em 0 1.5em;
	margin: 0 auto;
}

div.row.home div.left-col-p {
	padding-left: 0;
}

div.row.home div.right-col-p {
	padding-right: 0;
}

div.row.home div.left-col-img {
	padding-left: 0;
}

div.row.home div.right-col-img {
	padding-right: 0;
}

div.home img {
	width: 100%;
}
/***** slut index.html *****/

/*********** MEDIA QUERIES ***********/


/*xs bootstrap */
@media (max-width: 576px) {

	nav > div.navbar-collapse > ul > a {
		margin-left: 0 !important;
	}

	div.jumbotron.home {
		height: 250px;
	}

	div.jumbotron.home div.container {
		display: none;
	}

	div.jumbotron.home div.container p {
		font-size: 1.25em;
	}

	div.jumbotron h1 {
		font-size: 2.25em;
	}

	.display-4 {
		font-size: 2.25em;
	}

	.display-5 {
		font-size: 2em;
	}

	.display-6 {
		font-size: 1.75em;
		font-weight: 300;
	}

	div.container.container-smaller {
		width: 100%;
	}

	img.image-home {
		display: none;
	}

	div.row.home {
		width: 100%;
		padding-bottom: 0;
	}

	h3.home {
		width: 100%;
	}

	div.row.home div.left-col-p {
		padding-right: 0;
	}

	div.row.home div.right-col-p {
		padding-left: 0;
	}

	section p {
		text-align: left;
	}

	footer {
		text-align: center;
	}

}


/* sm bootstrap */
@media (min-width: 576px) and (max-width: 767px) {

	div.jumbotron.home div.container p {
		font-size: 1.25em;
	}

	div.jumbotron h1 {
		font-size: 3em;
	}

	div.container.container-smaller {
		width: 100%;
		padding: 0;
	}

	div.row.home {
		width: 100%;
		padding-bottom: 0;
	}

	h3.home {
		width: 100%;
	}

	.display-4 {
		font-size: 2.5em;
	}

	.display-5 {
		font-size: 2.25em;
	}

	.display-6 {
		font-size: 2em;
	}

}

/* md bootstrap */
@media (min-width: 768px) and (max-width: 992px) {

	div.jumbotron.home div.container p {
		font-size: 1.35em;
	}

	div.container.container-smaller {
		width: 85%;
	}

	div.row.home {
		width: 100%;
	}

	h3.home {
		width: 100%;
	}

}

/* lg bootstrap */
@media (min-width: 992px) and (max-width: 1199px) {

	div.container.container-smaller {
		width: 80%;
	}

}
