{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
			<h1 class="display-4 home"><strong>Movie Lover</strong></h1>
			<p>
				Här kan du hitta information, trailers och posters tillhörande den film du är intresserad av att se!
			</p>
			<div class="movie-poster">
				
			</div>
			<div class="movie-info">
				
			</div>
			<div class="movie-trailer">
				
			</div>
		</div>
	</div>

	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
					<h2 class="display-5"><strong>Movie Lover</strong> - For the Lover of Movies</h2>
					<p class="light">blablablablablablablablablablablablablablablablablablablablablablablabla
						blablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
						blablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
						blablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
					</p>
				</div>
			</div>
		</section>

		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">

				<h3 class="home display-5">Steg 1 - Sök en filmtitel</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Fyll i den titel på den film du söker.</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/image/lookingglass.png" alt="Förstoringsglas" class="image-home">
					</div>
				</div>

				<h3 class="home display-5">Steg 2 - Filminfo, filmtrailer, filmposter</h3>
				<div class="row home">
					<div class="col-xs-0 col-sm-3 left-col-img">
						<img src="/static/image/info.png" alt="Information-symbol" class="image-home">
					</div>
					<div class="col-xs-12 col-sm-9 right-col-p">
						<p class="light">När vald film skrivits in skickas tillhörande information, filmtrailer och
							poster till filmen.
						</p>
					</div>
				</div>

				<h3 class="home display-5">Steg 3 - Fatta beslut!</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Ska vi välja den här eller söka vidare?</p>
						<p class="light"><strong>Mycket glädje!</strong></p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/image/decision.png" alt="Vägkval" class="image-home">
					</div>
				</div>

			</div>
		</section>
	</main>

{% endblock %}
