{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
			<h1 class="display-4 home"><strong>Filmälskaren</strong></h1>
			<p>
				Här kan du söka efter den film du är intresserad av att se!
			</p>
			<div class="search_field">
				<form action="/action_page.php">
					<strong>Ange film:<br></strong>
					<input type="text" name="firstname"><br>
					<input class="search_box" type="submit" value="Sök!">
				</form>
			</div>	
		</div>
	</div>

	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
					<h2 class="display-5">Filmälskaren - För storätaren av film</h2>
					<p class="light">blablablablablablablablablablablablablablablablablablablablablablablabla
						blablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
						blablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
						blablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla
					</p>
				</div>
			</div>
		</section>

		<section class="container-fluid lighter-gray">
			<div class="container container-smaller">

				<h3 class="home display-5">Steg 1 - Sök en filmtitel</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Fyll i den titel på den film du söker.</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/images/lookingglass.png" alt="Bild på en to do-lista" class="image-home">
					</div>
				</div>

				<h3 class="home display-5">Steg 2 - Filminfo, filmtrailer, filmposter</h3>
				<div class="row home">
					<div class="col-xs-0 col-sm-3 left-col-img">
						<img src="/static/images/info.png" alt="Bild på en kalender" class="image-home">
					</div>
					<div class="col-xs-12 col-sm-9 right-col-p">
						<p class="light">När vald film skrivits in skickas tillhörande information, filmtrailer och
							poster till filmen.
						</p>
					</div>
				</div>

				<h3 class="home display-5">Steg 3 - Fatta beslut!</h3>
				<div class="row home">
					<div class="col-xs-12 col-sm-9 left-col-p">
						<p class="light">Amen ska vi ta denna, eller?</p>
						<p class="light">Mycket glädje!</p>
					</div>
					<div class="col-xs-0 col-sm-3 right-col-img">
						<img src="/static/images/decision.png" alt="Bild på tvättredskap" class="image-home">
					</div>
				</div>

			</div>
		</section>
	</main>

{% endblock %}
