{% extends "layout.html" %}

{% block body %}

	<div class="jumbotron jumbotron-fluid home">
		<div class="container home">
			<h1 class="display-4 home"><strong>Filmtitel</strong></h1>
			<p>
				Filmposter (Vänster) Filmformation (Höger)
			</p>
		</div>
	</div>

	<main>
		<section class="container-fluid">
			<div class="container container-smaller">
				<div class="row home">
                    <h2 class="display-5">Trailer</h2>
					<p class="light"><br><br>Plats för länk till filmtrailer
					</p>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
