<nav class="navbar fixed-top navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="/">Movie Lover</a>
  <!--
  <div class="ml-auto order-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
  <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  -->
  <ul class="navbar-nav">
    <li class="navbar-item">
      <!-- <form> -->
        <input type="text" placeholder="Sök film..." name="search-field" id="search-field">
        <button class="btn btn-danger" id="search-button" onclick="search();">Sök!</button>
      <!-- </form> -->
    </li>
  </ul>
</nav>

<script type="text/javascript">
  searchField = document.getElementById("search-field");
  searchButton = document.getElementById("search-button");

  function search(){
    window.location.href = "/search/" + searchField.value;
  };
</script>
